<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Lobster&family=Dancing+Script&family=Codystar&family=Shadows+Into+Light" rel="stylesheet">
    <script src="{{  url_for('static', filename='js/site.js')}}" async></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class = "nav">
        <ul>
            <li><a href="https://github.com/xtina-lt" target="_blank">Github</a></li>
            <li><a href="https://login.codingdojo.com/dashboard" target="_blank">Dojo</a></li>
        </ul>
    </div>
    <div class = "header">
        <h1>Christina T</h1>
    </div>
    <div class = "container">
        <div class = "about_me">
            <ul>
                <li><img id="me" src="{{ url_for('static', filename='me2.jpg') }}"></li>
                <li><h2>Contact</h2></li>
                <li>Email: xtina@xtina.codes</li>
            </ul>
            <ul>
                <li><h3>About Me:</h3></li>
                <li>I am a developer specializing in: HTML, CSS, JavaScript, and Python.</li>
                <li>I like nature, being festive, and spending time with loved ones (James and Peanut).</li>
            </ul>
        </div>
        <div class = "main">
            {%block main%} 
            {%endblock%}
        </div>
    </div>
    <div class = "footer">
        &copy; Copyright. All Rights Reserved.
    </div>
</body>
</html>