<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Lobster&family=Dancing+Script&family=Codystar&family=Shadows+Into+Light" rel="stylesheet">
    <script src="{{  url_for('static', filename='js/site.js')}}" async></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="https://github.com/xtina-lt" target="_blank">Github</a></li>
            <li><a href="https://login.codingdojo.com/dashboard" target="_blank">Dojo</a></li>
        </ul>
    </nav>
    <header>
        <h1>Christina T</h1>
    </header>
    <main>
        <section class="left">
            <ul>
                <li><img id="me" src="{{ url_for('static', filename='me2.jpg') }}"></li>
                <li><h2>Contact</h2></li>
                <li>Email: xtina@xtina.codes</li>
            </ul>
            <ul>
                <li><h3>About Me:</h3></li>
                <li>I am a developer specializing in: HTML, CSS, JavaScript, and Python.</li>
                <li>I like nature, being festive, and spending time with loved ones (James and Peanut).</li>
            </ul>
        </section>
        <section class = "right">
            <div id = "languages">
                <h3>Languages</h3>
                <table>
                    <tr>
                        <th>Front-End</th>
                        <th>Python</th>
                        <th>JavaScript</th>
                        <th>Database</th>
                        <th>Concpts</th>
                    </tr>
                    <tr>
                        <td>HTML5</td>
                        <td>Django</td>
                        <td>Express</td>
                        <td>MySQL</td>
                        <td>AJAX</td>
                    </tr>
                    <tr>
                        <td>CSS3</td>
                        <td>Flask</td>
                        <td>Mongoose</td>
                        <td>MongoDB</td>
                        <td>OOP</td>
                    </tr>
                    <tr>
                        <td>Bootstrap</td>
                        <td>Unitest</td>
                        <td>React</td>
                        <td></td>
                        <td>REST</td>
                    </tr>
                </table>
            </div>
            {%if output:%}
                {% for i in output %}
                <div class = "project">
                    <h3>
                        <a href="{{i['url']}}" target="_blank">{{i['name']}}</a>
                    </h3> 
                    {{i['language']}}
                    <p>
                        {{i['description']}}
                    </p>
                </div>
                {% endfor %}
            {%endif%}
            <a href="/test">Test</a>
        </section>
    </main>
    <footer>
        &copy; Copyright. All Rights Reserved.
    </footer>
</body>
</html>