
*{
    margin:0;
    padding: 0;
}
body{
    /*background*/
    background-image: url("bk.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
    .container{
        /* dimensions */
        height: 100vh;
        width: 100vw;
        /*font*/
        font-family: 'Shadows Into Light';
        font-size: 2vh;
        color: rgba(000,000,000,0.9);
        text-align: center;
        /* flex it */
        display: flex; /*change for phone*/
        flex-direction: column;
        justify-content: space-evenly;
    }
    nav, footer{
        background-color: rgba(127, 255, 212, 0.7);
        border-radius: 2vh;
    }
        nav{
            margin-bottom: 0.5vh;
            font-family: 'Permanent Marker';
            font-size: 3vh;
        }
    header{
        /* background and border */
        background-color: rgba(138, 43, 226, 0.9);
        border-radius: 8vh;
        /* font */
        font-family: Codystar;
        font-size: 4vh;
        font-weight: bolder;
    }
        main{
            border-radius: 8vh;
            /* sizing */
            height: 75vh;
            width: 100vw;
            max-width: 1000px; /*change for phone*/
            /* center */
            display: flex; /*change for phone*/
            align-items: center;
            justify-content: space-evenly; /*addscroll for phone*/
            margin: 0 auto; /*didnt flex horizion */
        }
        .left{
            background-color: rgba(220, 20, 120, 0.9);
            border-radius: 5vh;
            padding: 1vh;
            max-height: min-content;
            max-width: 250px;
            margin-right: 1vh; /*cff*/
            margin-left: 1vh; /*cff*/
        }
        .right{
            max-height: 75vh;
            max-width: 60vw;
            min-width: 300px;
            padding: 1vh;
            overflow-y: scroll;
            scrollbar-width: none;
            margin-right: 1vh; /*cff*/
        }
        .project{
            background-color: rgba(175, 216, 233, 0.9);
            border-radius: 5vh;
            padding: 1vh;
            height: max-content;
            margin-bottom: 1vh;
        }
    h2,h3,h4,h5,h6{
        font-family: 'Permanent Marker';
    }
/* IMAGE AND FADE */
#me{
    border-radius: 50%;
    padding-top: 1vh;
}
    .fade_in{
        animation: fadeIn 2s;
        -webkit-animation: fadeIn 2s;
        -moz-animation: fadeIn 2s;
        -o-animation: fadeIn 2s;
        -ms-animation: fadeIn 2s;
    }
    .medium_fade{
        animation: fadeIn 5s;
        -webkit-animation: fadeIn 5s;
        -moz-animation: fadeIn 5s;
        -o-animation: fadeIn 5s;
        -ms-animation: fadeIn 5s;
    }
    .long_fade{
        animation: fadeIn 7s;
        -webkit-animation: fadeIn 7s;
        -moz-animation: fadeIn 7s;
        -o-animation: fadeIn 7s;
        -ms-animation: fadeIn 7s;
    }
    @keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    

/* LISTS */
nav li{
    display: inline;
    padding: 0 2vh 0 2vh;
}
ul li{
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
}
    a:hover{
        color: rgba(138, 43, 226, 0.6)
    }
/* TABLES */
table{
    width: 100%;
    margin-bottom: 2vh;
}
    td, th {
        border: 0.05vh solid rgba(221, 221, 221, 0.4);
        padding: 1vh;
        text-align: center;
    }
    th {
        padding-top: 1.5vh;
        padding-bottom: 1.5vh;
        background-color: rgba(138, 43, 226, 0.6);
        color: white;
    }
    tr:nth-child(even){
        background-color: rgba(242, 242, 242, 0.4); /*darker*/
    }
    tr:hover {
        background-color: rgba(221, 221, 221, 0.4);
    }
/* PHONE */
@media only screen and (max-width: 600px) {
    main{
        display:block;
        max-height: 80vh;
        overflow: scroll;
        scrollbar-width: none;
        font-size: 3vh;
    }
    .left, .right{
        max-width: 100vw;
        margin: 0;
    }
    .left{
        margin-bottom: 1vh;
    }
    footer{
        position: static;
    }
}

/* mobile horizion */
@media only screen and (max-device-height: 480px) and (orientation: landscape) {
    .container{
        box-sizing: border-box;
        height: 100vh;
        display: block;
        font-size: 5vh;
        overflow-y: scroll;
    }
    main{
        box-sizing: border-box;
        display: inline;
    }
    .left, .right{
        box-sizing: border-box;
        overflow-y: scroll;
        max-height: min-content;
        max-width: 100vw;
    }
    .left{
        max-width: min-content;
        margin: 0 auto;
    }
    a, header{
        font-size: 5vh;
    }
    nav, header, .left, .right{
        margin-bottom: 1.5vh;
    }
    nav, footer {
        border-radius: 6vh;
    }
}

